html {
    font-size: 16px;
}

body {
    margin: 0;

    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.page {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1332px;
    padding: 0 1rem;
    margin: 0 auto;
}

/* HELPER-CLASS */

.center {
    display: flex;
    justify-content: center;
    padding-top: 145px;
}

/* HEADER */

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3.125rem 0;
}

.header__logo {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
}

/* NAV */

.nav {
    display: flex;
}

.nav__link {
    margin-left: 2rem;

    font-size: 1rem;
    font-weight: 400;
    color: #fff;

    text-decoration: none;

    transition: color .2s linear,box-shadow .2s linear;
}

.nav__link:hover,
.nav__link:focus {
    color: #d8ad47;
    box-shadow: 0px 3px 3.5px rgba(216,173,71,0.66);
}

/* BURGER */

.burger {
    display: none;
    width: 30px;
    padding: 10px 0;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 60px;
    right: 24px;
    z-index: 1;
}

.burger__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.burger.active .burger__item{
    background: none;
}

.burger__item::before, .burger__item::after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.burger__item::before {
    top: -8px;
}

.burger__item::after {
    bottom: -8px;
}

.burger.active .burger__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0, -2px, 0);
}

.burger.active .burger__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0, 3px, 0);
}

.burger:focus {
    outline: 0;
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url('../img/intro/bg.png') center no-repeat;
    background-size: cover;

    position: relative;
}

.intro__content {
    width: 100%;
    max-width: 385px;
}

.intro__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.75rem;
    color: #fff;
    font-weight: 600;
}

.intro__text {
    margin: 1rem 0 2rem;

    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

/* BTN */

.btn {
    display: inline-block;
    padding: 0.5em 1.1em;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.06rem;
    color: #000;
    font-weight: 400;
    text-decoration: none;

    cursor: pointer;
    border: none;
    background-color: #d8ad47;
    box-shadow: 0 0 5px rgb(216, 173, 71);
    border-radius: 1.1875em;

    transition: background-color .2s linear;
}

.btn-card {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;

    transition: color .2s linear, border .2s linear;
}

.btn-card:hover,
.btn-card:focus {
    color: #000;
    border: 2px solid rgb(216, 173, 71);
}

.btn:hover,
.btn:focus {
    background-color: rgb(240, 180, 40);
}

/* ABOUT */

.about {
    background-color: #020710;
}

.about__iner {
    display: flex;
    padding: 4.5rem 0;
}

.about__item {
    width: 48%;
}

.about__item-photo {
    width: 52%;
}

.about__content {
    width: 100%;
    max-width: 433px;
    padding-bottom: 2.9rem;

    border-bottom: 1px solid #707070;
}

.about__title {
    margin-bottom: 1.8rem;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: #D8AD47;
}

.about__text {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.about__text p {
    margin-bottom: 1rem;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.about__subtitle {
    margin: 2rem 0 0.7rem;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.43rem;
    color: #fff;
    font-weight: 600;
}

.about__subtitle-text {    
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.about__footer {
    margin-top: 2.75rem;
    display: flex;
    align-items: center;
    position: relative;
}

.about__footer-photo img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.about__footer-text {
    margin-left: 10px;

    font-size: 1.25rem;
    font-weight: 400;
    color: #D8AD47;
}

.about__img {
    position: relative;
    padding-top: 56.25%;
}

.about__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

/* SECTION */

.section--project {
    background: url('../img/project/elitnyy-zagorodnyy-dom-dlya-bolshoy-semi-15\ \(1\).png') center no-repeat;
    background-size: cover;
}

.section__header {
    display: flex;
    justify-content: space-between;
    padding: 165px 0 44px;
}

.section__item {
    padding-top: 24px;
    width: 39.62%;
    max-width: 515px;
}

.section__item--bigcard {
    padding-top: 0;
    width: 58.38%;
    max-width: 718px;
}

.section__title {
    margin-bottom: 1.8rem;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: #D8AD47;
}

.section__text {
    margin-bottom: 40px;

    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.section__text p {
    margin-bottom: 1rem;
}

.section__text p:last-child {
    margin-bottom: 0;
}

.section__button {
    text-align: start;
}

/* PROJECT */

.project__bg {
    background-image: radial-gradient(circle at center, rgba(2,9,22,0) 0%, rgba(1,7,16,0.31) 31%, #01050d 100%);
    background-color: rgba(2, 9, 22, .92);
}

/* CARD */

.card {
    display: flex;
    justify-content: space-between;
}

.card__item {
    flex: 0 1 32%;
}

.card__iner {
    position: relative;
}

.card__img {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 45px;
}

.card__photo {
    display: block;
    max-width: 100%;
    height: auto;

    opacity: .4;
    border-radius: 45px;

    transition: opacity .2s linear;
}

.card__iner:hover 
.card__img .card__photo {
    opacity: .6;
}

.card__content {
    width: 100%;
    padding: 16px 35px;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.card__title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 4.3rem;
    color: #fff;
    font-weight: 900;
}

.card__footage {
    margin-bottom: 13px;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 2.25rem;
    color: #d8ad47;
    font-weight: 800;
}

.card__services {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.card__services:nth-child(even) {
    margin-bottom: 0;
}

.card__text {
    margin-left: 0.75rem;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.06rem;
    color: #fff;
    font-weight: 400;
}

.card__button {
    margin-top: 38px;
}

/* CONTACTS */

.contacts {
    background: url('../img/contacts/bg.png') center no-repeat;
    background-size: cover;
}

.contacts__item-form {
    margin: auto 0 0;
}

.contacts__iner {
    padding: 90px 0 134px;
    display: flex;
}

.contacts__item {
    flex: 0 1 33.333%;
}

.contacts__title {
    margin-bottom: 32px;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    color: #D8AD47;
}

.contacts__text {
    margin-bottom: 23px;

    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.contacts__map {
    display: block;
    max-width: 259px;
    position: relative;
}

.contacts__img {
    width: 100%;
    height: auto;
    max-width: 259px;

    border-radius: 40px;
}

.contacts__pointer {
    position: absolute;
    top: 61px;
    right: 102px;
    z-index: 1;
}

.contacts__centre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts__ref {
    margin-bottom: 27px;

    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.contacts__ref:hover,
.contacts__ref:focus {
    text-decoration: underline;
}

.contacts__ref:last-child {
    margin-bottom: 0;
}

.contacts__icon--one {
    margin-right: 16px;
    display: block;
}

.contacts__icon--two {
    margin-right: 11px;
    display: block;
}

.contacts__icon--three {
    margin-right: 13px;
    display: block;
}

.contacts__forms {
    padding: 32px 50px;

    border-radius: 45px;
    background-color: rgba(255, 255, 255, .20)
}

.contacts__header {
    width: 100%;
    max-width: 265px;
    margin: 0 auto;

    text-align: center;
}

.contacts__subtitle {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

/* FORM */

.form__class {
    margin-top: 30px;
}

.form__input {
    display: block;
    width: 100%;

    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;

    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;

    outline: none;
    transition: border-color .2s linear;
}

.form__input::placeholder {
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
}

.form__input:focus {
    border-color: #D8AD47;
}

.form__class-btn {
    margin-top: 2rem;
    text-align: center;
}

/* FOOTER */

.footer {
    background-color: #02070f;
}

.footer__iner {
    padding: 50px 0 40px;
    text-align: center;
}

.footer__logo {
    font-size: 29px;
    color: #fff;
    font-weight: 400;
}

.footer__logo span {
    font-size: 54px;
    color: #ffd500;
    font-weight: 400;
}

.footer__copyright {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}

/* MEDIA */

@media (max-width: 1200px) {

    /* section */

    .section__header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__item {
        width: 100%;
        max-width: none;

        padding-top: 0;
        margin-bottom: 3rem;
    }

    .section__item--bigcard {
        width: 63.38%;
        max-width: 718px;
    }

    /* CARD */

    .card {
        flex-direction: column;
    }

    .card__item {
        flex: 0 1 32%;
        max-width: 413px;
        margin: 0 auto 2rem;
    }

    .card__title {
        font-size: 3.3rem;
    }

}

@media (max-width: 991px) {

    /* ABOUT */

    .about__iner {
        flex-wrap: wrap;
    }

    .about__item {
        width: 100%;
    }

    .about__item-photo {
        width: 100%;
        margin-top: 3rem;
    }

    .about__content {
        max-width: none;
    }

    /* SECTION */

    .section__header {
        padding-top: 44px;
        padding-bottom: 0;

        text-align: center;
    }

    .section__button {
        text-align: center;
    }

    .section__item--bigcard {
        width: 100%;
        max-width: 718px;
        margin-bottom: 2rem;

        text-align: start;
    }

    /* CONTACTS */

    .contacts__iner {
        flex-direction: column;
        padding: 2rem 0;
    }

    .contacts__item {
        flex: 0 1 33.333%;
        text-align: center;
    }

    .contacts__map {
        display: inline-block;
    }

    .center {
        padding: 2rem 0;
    }

    .contacts__item-form {
        margin: auto;
    }
}

@media (max-width: 767px) {

    /* HEADER */

    .nav {
        display: none;
    }

    .burger {
        display: block;
    }

    /* INTRO */

    .intro__content {
        margin: 0 auto;
    }

    /* ABOUT */

    .about__iner {
        padding: 2rem 0;
    }

}


@media (max-width: 650px) {

    /* CARD */
    
    .card__title {
        font-size: 3rem;
    }
    
    .card__footage {
        font-size: 1.75rem;
    }
    
    .card__button {
        margin-top: 20px;
    }
    
}

@media (max-width: 576px) {

    /* CARD */

    .card__photo {
        border-radius: 45px 45px 0 0 ;
    }

    .card__content {
        position: static;

        text-align: center;
        background-color: rgba(0, 0, 0, .4);
    }

    .card__title {
        font-size: 2.5rem;
    }

    .card__services {
        justify-content: center;
    }

}